<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://www.w3chools.com/w3css/4/w3.css">
</head>

<body>
    <style>
        .w3-container {
            font-size: 14px;
        }

        .center {
            position: obsolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
        }
    </style>
    
    <div class="center">
        <h3 class="donate">
            <div class="w3-card-4">

                <header class="w3-container w3-blue">
                    <h1>Donate</h1>
                </header>  
                
                <div class="w3-container">
                    <p>Donate for a great cause.Be a hero.</p>